// Colors
$black: black;
$white: white;
$grey: #7a807e;
$lightgrey: #a2a5a4;
$greysh: #8e9c98;
$cuteGrey: #afafaf;
$darkGrey: #707070;
$smoke_white: #fbfbfb;
$cuteGreen: #02db96;
$green: #0edc9b;
$cuteOrange: #ffc02a;
$orange: #ffc71c;
$orangeish: #fd7e34;
$rani_pink: #ff4054;
// fontSize

$font12: 12px;
$font14: 14px;
$font18: 18px;
$font21: 21px;
$font36: 36px;

// font family
$font_poppins: Poppins;