p {
  font-size: 1.125rem;
  letter-spacing: -0.23px; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 2.5625rem;
  font-weight: 500; }

h3 {
  font-size: 2.25rem;
  font-weight: 400; }

h4 {
  font-size: 1.25rem;
  font-weight: 400; }

h5 {
  font-size: 1rem;
  font-weight: 400; }

h6 {
  font-size: 0.75rem; }

.home_automation--part .background_img {
  width: 596px;
  height: 647px;
  position: absolute;
  background-color: #fafbff;
  border: 1px solid #fafbff;
  z-index: -11;
  border-top-right-radius: 83% 282px;
  border-bottom-right-radius: 89% 282px;
  left: -67px; }
.home_automation--part .automation--part {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  height: auto; }
  .home_automation--part .automation--part .left_section {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; }
    .home_automation--part .automation--part .left_section .content-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%; }
      .home_automation--part .automation--part .left_section .content-head .background_img1 {
        width: 90px;
        height: 90px;
        box-shadow: -7px 40px 117px rgba(0, 0, 0, 0.14);
        border-radius: 20px; }
      .home_automation--part .automation--part .left_section .content-head .para1 {
        margin-left: 18px;
        color: #8e9c98;
        letter-spacing: -0.27px; }
    .home_automation--part .automation--part .left_section .content-part {
      width: 83%; }
      .home_automation--part .automation--part .left_section .content-part .para2 {
        color: #8e9c98;
        letter-spacing: -0.27px; }
      .home_automation--part .automation--part .left_section .content-part .head1 {
        color: black;
        font-weight: 600;
        letter-spacing: -0.54px; }
    .home_automation--part .automation--part .left_section .background_img6 {
      background-image: url(../images/sprite.png);
      width: 34px;
      height: 39px;
      position: absolute;
      background-position: -63px 1491px;
      z-index: 1;
      bottom: 8rem;
      left: 19rem; }
    .home_automation--part .automation--part .left_section .background_img7 {
      width: 212px;
      height: 118px;
      background: url("../images/css_sprites.png") -10px -414px;
      position: absolute;
      bottom: 5rem;
      left: 31rem; }
  .home_automation--part .automation--part .right_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .home_automation--part .automation--part .right_section .background_img2 {
      background: url("../images/css_sprites.png") -219px -10px;
      width: 182px;
      height: 177px;
      position: absolute;
      bottom: 7rem;
      z-index: 1;
      left: 2rem; }
    .home_automation--part .automation--part .right_section .background_img3 {
      width: 168px;
      height: 163px;
      background: url("../images/css_sprites.png") -421px -10px;
      position: absolute;
      top: 22.1rem;
      left: -2.1rem; }
    .home_automation--part .automation--part .right_section .background_img4 {
      width: 172px;
      height: 167px;
      background: url("../images/css_sprites.png") -10px -227px;
      position: absolute;
      top: 15rem;
      right: -1.2rem;
      z-index: 1; }
    .home_automation--part .automation--part .right_section .background_img5 {
      width: 170px;
      height: 164px;
      background: url("../images/css_sprites.png") -202px -227px;
      position: absolute;
      top: 2rem;
      right: 25rem; }
    .home_automation--part .automation--part .right_section .background_img6 {
      background-image: url(../images/sprite.png);
      width: 34px;
      height: 39px;
      position: absolute;
      background-position: -63px 1491px;
      z-index: 1;
      right: 0rem;
      top: 0rem; }
    .home_automation--part .automation--part .right_section .background_img7 {
      width: 189px;
      height: 197px;
      background: url("../images/css_sprites.png") -10px -10px;
      position: absolute;
      right: -10rem;
      top: 37rem; }
    .home_automation--part .automation--part .right_section .mobile_image {
      width: 20rem;
      height: 40rem;
      border-radius: 50px;
      margin-top: 4rem;
      position: relative;
      box-shadow: -7px 32px 99px rgba(0, 0, 0, 0.14); }

.project_goal {
  position: relative; }
  .project_goal .project_goals--part {
    min-height: 47vh;
    height: auto; }
    .project_goal .project_goals--part .head1 {
      color: black; }
    .project_goal .project_goals--part .project_goals {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative; }
      .project_goal .project_goals--part .project_goals .circle_dots {
        border-bottom: dotted 3px orange;
        width: 100px;
        float: left;
        position: relative;
        display: block;
        height: 12px;
        margin: 0 5px 0 5px; }
      .project_goal .project_goals--part .project_goals div:first-child,
      .project_goal .project_goals--part .project_goals div:nth-child(2) {
        float: left; }
      .project_goal .project_goals--part .project_goals div:nth-child(2),
      .project_goal .project_goals--part .project_goals div:nth-child(3) {
        float: left; }
      .project_goal .project_goals--part .project_goals div:nth-child(3),
      .project_goal .project_goals--part .project_goals div:nth-child(4) {
        float: left; }
      .project_goal .project_goals--part .project_goals .project_goals--box {
        width: 20%; }
        .project_goal .project_goals--part .project_goals .project_goals--box .circle_img {
          position: relative; }
          .project_goal .project_goals--part .project_goals .project_goals--box .circle_img .background_img1 {
            width: 119px;
            height: 90px;
            opacity: 0.95; }
          .project_goal .project_goals--part .project_goals .project_goals--box .circle_img .text {
            position: absolute;
            left: 3rem;
            color: white;
            bottom: 2.5rem; }
        .project_goal .project_goals--part .project_goals .project_goals--box .head2 {
          color: black; }
        .project_goal .project_goals--part .project_goals .project_goals--box .para1 {
          color: #afafaf;
          font-size: 10px;
          line-height: 21px; }
  .project_goal .bg_img {
    position: absolute;
    right: -14rem;
    top: -12rem;
    z-index: -1; }

.challenge--part {
  position: relative; }
  .challenge--part .challenges--part {
    min-height: 51vh;
    height: auto;
    position: relative; }
    .challenge--part .challenges--part .head1 {
      color: black; }
    .challenge--part .challenges--part .head2 {
      color: black; }
    .challenge--part .challenges--part .line {
      width: 6rem;
      border-bottom: 1px solid black; }
    .challenge--part .challenges--part .para1 {
      color: #afafaf;
      width: 50%; }
    .challenge--part .challenges--part .background_img4 {
      width: 172px;
      height: 167px;
      background: url(../images/css_sprites.png) -10px -227px;
      position: absolute;
      top: 17rem;
      right: 14rem;
      z-index: 1; }
  .challenge--part .bg_img {
    width: 154px;
    position: absolute;
    bottom: -130px;
    left: -69px;
    z-index: -11; }

.res {
  margin-bottom: 10rem; }
  .res .research--part {
    min-height: 100vh;
    height: auto; }
    .res .research--part .research_heading {
      color: black;
      text-align: center; }
    .res .research--part .research--part-section {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      margin-top: 10rem;
      align-content: space-between; }
      .res .research--part .research--part-section .column-part__one {
        width: 30%;
        min-height: 62vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .res .research--part .research--part-section .column-part__one .small_box {
          background: #fbfbfb;
          color: #a2a5a4;
          display: flex;
          height: 6rem;
          align-items: center;
          justify-content: space-around;
          border-radius: 5px;
          font-size: 20px;
          padding: 12px; }
          .res .research--part .research--part-section .column-part__one .small_box .count_para {
            margin-right: 1rem; }
        .res .research--part .research--part-section .column-part__one .small_box:hover {
          box-shadow: 0 19px 36px rgba(0, 0, 0, 0.11); }
          .res .research--part .research--part-section .column-part__one .small_box:hover .count_para {
            color: #fd7e34; }
          .res .research--part .research--part-section .column-part__one .small_box:hover .desc_para {
            color: black; }
      .res .research--part .research--part-section .column-part__two {
        width: 40%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .res .research--part .research--part-section .column-part__two .image_one {
          position: absolute;
          width: 27rem; }
        .res .research--part .research--part-section .column-part__two .image_two {
          position: absolute;
          width: 22rem; }
        .res .research--part .research--part-section .column-part__two .image_three {
          position: absolute;
          width: 19.9rem; }
      .res .research--part .research--part-section .column-part__three {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 62vh;
        height: auto; }
        .res .research--part .research--part-section .column-part__three .small_box {
          background: #fbfbfb;
          color: #a2a5a4;
          display: flex;
          height: 6rem;
          align-items: center;
          font-size: 20px;
          justify-content: space-around;
          padding: 12px; }
          .res .research--part .research--part-section .column-part__three .small_box .count_para {
            margin-right: 1rem; }
        .res .research--part .research--part-section .column-part__three .small_box:hover {
          box-shadow: 0 19px 36px rgba(0, 0, 0, 0.11); }
          .res .research--part .research--part-section .column-part__three .small_box:hover .count_para {
            color: #fd7e34; }
          .res .research--part .research--part-section .column-part__three .small_box:hover .desc_para {
            color: black; }

.user_person {
  position: relative; }
  .user_person .user_persona--part {
    min-height: 80vh;
    height: auto; }
    .user_person .user_persona--part .persona_heading {
      color: black; }
    .user_person .user_persona--part .user_persona {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .user_person .user_persona--part .user_persona .persona_sec--part {
        width: 23rem;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
        position: relative;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .user_person .user_persona--part .user_persona .persona_sec--part .persona_img {
          position: absolute;
          top: -4rem;
          width: 8rem; }
        .user_person .user_persona--part .user_persona .persona_sec--part .persona_name {
          color: black;
          margin: 0;
          margin-top: 5rem; }
        .user_person .user_persona--part .user_persona .persona_sec--part .persona_occupation {
          color: #707070;
          margin: 0; }
        .user_person .user_persona--part .user_persona .persona_sec--part .persona_detail {
          color: #afafaf; }
      .user_person .user_persona--part .user_persona .border_one {
        border-bottom: 5px solid #ff4054; }
      .user_person .user_persona--part .user_persona .border_two {
        border-bottom: 5px solid #ffc71c; }
      .user_person .user_persona--part .user_persona .border_three {
        border-bottom: 5px solid #0edc9b; }
  .user_person .bg_img {
    position: absolute;
    z-index: -11;
    right: 0;
    width: 168px;
    right: -7rem;
    top: 10rem; }

.user_flow {
  margin-bottom: 10rem; }
  .user_flow .user_flows--part {
    min-height: 100vh;
    height: auto;
    margin-top: 5rem; }
    .user_flow .user_flows--part .row-part__one {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .user_flow .user_flows--part .row-part__one .box-size {
        width: 16rem; }
        .user_flow .user_flows--part .row-part__one .box-size .user_heading {
          color: black;
          font-size: 2.2rem;
          margin-bottom: 0rem; }
        .user_flow .user_flows--part .row-part__one .box-size .user_para {
          color: #afafaf;
          font-size: 1rem;
          letter-spacing: -0.23px; }
      .user_flow .user_flows--part .row-part__one .pickup_flow_part {
        width: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .user_flow .user_flows--part .row-part__one .pickup_flow_part .pickup_content {
          width: 229px;
          height: 225px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 14px; }
          .user_flow .user_flows--part .row-part__one .pickup_flow_part .pickup_content .flow_para {
            color: black; }
          .user_flow .user_flows--part .row-part__one .pickup_flow_part .pickup_content .flow_head {
            color: #afafaf; }
      .user_flow .user_flows--part .row-part__one .flow_part {
        width: 16rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -42px; }
        .user_flow .user_flows--part .row-part__one .flow_part .user_heading {
          color: black; }
        .user_flow .user_flows--part .row-part__one .flow_part .user_para {
          color: #afafaf; }
        .user_flow .user_flows--part .row-part__one .flow_part .small_box--head {
          color: black; }
        .user_flow .user_flows--part .row-part__one .flow_part .small_box {
          color: white;
          background-color: #ffc71c;
          width: 230px;
          height: 235px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 18px; }
        .user_flow .user_flows--part .row-part__one .flow_part .flow_head {
          color: black; }
        .user_flow .user_flows--part .row-part__one .flow_part .flow_para {
          color: #a2a5a4; }
    .user_flow .user_flows--part .row-part__two {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .user_flow .user_flows--part .row-part__two .para_part {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.24px;
        width: 57%;
        text-align: center; }
      .user_flow .user_flows--part .row-part__two .flow_part {
        width: 16rem;
        display: flex;
        flex-direction: column; }
        .user_flow .user_flows--part .row-part__two .flow_part .pickup_content {
          width: 229px;
          height: 225px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          border-radius: 25px; }
          .user_flow .user_flows--part .row-part__two .flow_part .pickup_content .user_heading {
            color: black; }
          .user_flow .user_flows--part .row-part__two .flow_part .pickup_content .user_para {
            color: #afafaf; }
        .user_flow .user_flows--part .row-part__two .flow_part .small_box--head {
          color: black; }
        .user_flow .user_flows--part .row-part__two .flow_part .small_box {
          color: white;
          background: #0edc9b;
          width: 230px;
          height: 235px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 18px; }
        .user_flow .user_flows--part .row-part__two .flow_part .flow_head {
          color: black; }
        .user_flow .user_flows--part .row-part__two .flow_part .flow_para {
          color: #a2a5a4; }
      .user_flow .user_flows--part .row-part__two .flow_part_content {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; }
        .user_flow .user_flows--part .row-part__two .flow_part_content .pickup_content {
          width: 229px;
          height: 225px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 14px; }
          .user_flow .user_flows--part .row-part__two .flow_part_content .pickup_content .flow_para {
            color: black; }
          .user_flow .user_flows--part .row-part__two .flow_part_content .pickup_content .flow_head {
            color: #afafaf; }
      .user_flow .user_flows--part .row-part__two .width_second {
        width: 16rem; }
    .user_flow .user_flows--part .row-part__three {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 54%;
      margin-top: 5rem;
      margin-left: 3rem; }
      .user_flow .user_flows--part .row-part__three .flow_part {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .user_flow .user_flows--part .row-part__three .flow_part .pickup_content {
          width: 229px;
          height: 225px;
          box-shadow: 0 35px 86px rgba(0, 0, 0, 0.05);
          border-radius: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 14px; }
          .user_flow .user_flows--part .row-part__three .flow_part .pickup_content .flow_head {
            color: #a2a5a4; }
          .user_flow .user_flows--part .row-part__three .flow_part .pickup_content .flow_optional {
            color: #02db96;
            margin: 0; }
          .user_flow .user_flows--part .row-part__three .flow_part .pickup_content .flow_para {
            color: black;
            margin: 0; }

.profile_moivation--one .moivation--one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
  margin-bottom: 5rem; }
  .profile_moivation--one .moivation--one .left_part {
    width: 40%; }
    .profile_moivation--one .moivation--one .left_part .motivation--content {
      width: 74%;
      padding: 20px; }
      .profile_moivation--one .moivation--one .left_part .motivation--content .motivation--para {
        color: #7a807e; }
      .profile_moivation--one .moivation--one .left_part .motivation--content .motivation--head {
        color: black; }
      .profile_moivation--one .moivation--one .left_part .motivation--content .motivation--desc {
        color: #a2a5a4; }
  .profile_moivation--one .moivation--one .right_part {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center; }
    .profile_moivation--one .moivation--one .right_part .image_one {
      width: 21rem;
      position: relative;
      left: -10rem; }
    .profile_moivation--one .moivation--one .right_part .image_two {
      width: 34rem;
      position: absolute;
      top: -12rem;
      right: 10%; }

.profile_moivation--two .moivation--two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto; }
  .profile_moivation--two .moivation--two .left_part {
    width: 60%;
    position: relative; }
    .profile_moivation--two .moivation--two .left_part .image_one {
      width: 36rem;
      position: relative;
      top: -64px; }
    .profile_moivation--two .moivation--two .left_part .image_two {
      width: 26rem;
      position: absolute;
      top: 7%;
      left: 51%;
      z-index: -11; }
    .profile_moivation--two .moivation--two .left_part .image_three {
      width: 26rem;
      position: absolute;
      bottom: 15%;
      left: 51%;
      z-index: -11; }
  .profile_moivation--two .moivation--two .right_part {
    width: 40%;
    margin-bottom: 8rem; }
    .profile_moivation--two .moivation--two .right_part .motivation--content {
      width: 80%;
      padding: 20px; }
      .profile_moivation--two .moivation--two .right_part .motivation--content .motivation--para {
        color: #7a807e; }
      .profile_moivation--two .moivation--two .right_part .motivation--content .motivation--head {
        color: black; }
      .profile_moivation--two .moivation--two .right_part .motivation--content .motivation--desc {
        color: #a2a5a4; }

.profile_moivation--three .moivation--three {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .profile_moivation--three .moivation--three .left_part {
    width: 40%;
    display: flex;
    justify-content: center; }
    .profile_moivation--three .moivation--three .left_part .motivation--content {
      width: 80%;
      padding: 20px; }
      .profile_moivation--three .moivation--three .left_part .motivation--content .motivation--para {
        color: #7a807e; }
      .profile_moivation--three .moivation--three .left_part .motivation--content .motivation--head {
        color: black; }
      .profile_moivation--three .moivation--three .left_part .motivation--content .motivation--desc {
        color: #a2a5a4; }
  .profile_moivation--three .moivation--three .right_part {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center; }
    .profile_moivation--three .moivation--three .right_part .image_one {
      position: absolute;
      width: 23rem;
      z-index: -11;
      left: -14px;
      top: 125px; }
    .profile_moivation--three .moivation--three .right_part .image_two {
      width: 33rem; }

.community_share--part .share--part {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .community_share--part .share--part .left_part {
    width: 40%; }
    .community_share--part .share--part .left_part .share--part-img {
      width: 34rem; }
  .community_share--part .share--part .right_part {
    width: 60%; }
    .community_share--part .share--part .right_part .upper_part {
      display: flex;
      justify-content: center; }
      .community_share--part .share--part .right_part .upper_part .motivation--content {
        width: 80%;
        padding: 20px; }
        .community_share--part .share--part .right_part .upper_part .motivation--content .motivation--para {
          color: #7a807e; }
        .community_share--part .share--part .right_part .upper_part .motivation--content .motivation--head {
          color: black; }
        .community_share--part .share--part .right_part .upper_part .motivation--content .motivation--desc {
          color: #a2a5a4; }
    .community_share--part .share--part .right_part .lower_part {
      position: relative;
      left: -83px;
      display: flex;
      justify-content: space-evenly;
      top: 38px; }
      .community_share--part .share--part .right_part .lower_part .small_box {
        width: 25%; }

.regular_motivation--part .motivation--part {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .regular_motivation--part .motivation--part .left_part {
    width: 40%; }
    .regular_motivation--part .motivation--part .left_part .motivation--content {
      width: 80%;
      padding: 20px; }
      .regular_motivation--part .motivation--part .left_part .motivation--content .motivation--para {
        color: #7a807e; }
      .regular_motivation--part .motivation--part .left_part .motivation--content .motivation--head {
        color: black; }
      .regular_motivation--part .motivation--part .left_part .motivation--content .motivation--desc {
        color: #a2a5a4; }
  .regular_motivation--part .motivation--part .right_part {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center; }
    .regular_motivation--part .motivation--part .right_part .card_image {
      width: 32rem;
      position: absolute;
      z-index: -11; }
    .regular_motivation--part .motivation--part .right_part .box-one {
      top: 26%;
      left: 0%; }
    .regular_motivation--part .motivation--part .right_part .box-two {
      bottom: 40%;
      left: 10%; }
    .regular_motivation--part .motivation--part .right_part .box-three {
      bottom: 18%;
      left: 0%; }
    .regular_motivation--part .motivation--part .right_part .phone_image {
      width: 30rem; }

.smart_route--part .smart_route {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto; }
  .smart_route--part .smart_route .left_part {
    width: 60%;
    position: relative; }
    .smart_route--part .smart_route .left_part .smart_route--image {
      width: 32rem;
      position: relative;
      z-index: 11; }
    .smart_route--part .smart_route .left_part .smart_route--image-two {
      width: 18rem;
      position: absolute;
      left: 40%;
      top: 17%; }
  .smart_route--part .smart_route .right_part {
    width: 40%;
    display: flex; }
    .smart_route--part .smart_route .right_part .pickup_content {
      width: 80%;
      padding: 20px; }
      .smart_route--part .smart_route .right_part .pickup_content .motivation--para {
        color: #7a807e; }
      .smart_route--part .smart_route .right_part .pickup_content .motivation--head {
        color: black; }
      .smart_route--part .smart_route .right_part .pickup_content .motivation--desc {
        color: #a2a5a4; }

.main_color--part {
  min-height: 70vh;
  height: auto; }
  .main_color--part .upper_part {
    display: flex;
    align-items: center; }
    .main_color--part .upper_part .color_head {
      font-size: 24px; }
    .main_color--part .upper_part .sprite_img {
      height: 10px;
      width: 54px;
      margin: 0px 27px; }
  .main_color--part .lower_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; }
    .main_color--part .lower_part .color_part {
      color: #7a807e; }
      .main_color--part .lower_part .color_part .color_name {
        text-align: center; }
      .main_color--part .lower_part .color_part .color_part--image {
        width: 206px; }

.performed_research--part .research--part {
  display: flex;
  flex-wrap: wrap;
  min-height: 118vh;
  height: auto; }
  .performed_research--part .research--part .left_section {
    width: 60%;
    display: flex;
    flex-direction: column; }
    .performed_research--part .research--part .left_section .upper_part {
      width: 70%;
      position: relative; }
      .performed_research--part .research--part .left_section .upper_part .head1 {
        color: black; }
      .performed_research--part .research--part .left_section .upper_part .background_img3 {
        width: 168px;
        height: 163px;
        background: url(../images/css_sprites.png) -421px -10px;
        position: absolute;
        right: -8rem;
        top: 2rem; }
    .performed_research--part .research--part .left_section .research_sub--part {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 3.4rem; }
      .performed_research--part .research--part .left_section .research_sub--part .sub_box {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end; }
        .performed_research--part .research--part .left_section .research_sub--part .sub_box .image_sprite {
          background-image: url("../images/sprite.png");
          width: 5px;
          background-position: -664px 1587px;
          height: 163px; }
        .performed_research--part .research--part .left_section .research_sub--part .sub_box .img {
          background-position: -661px 1587px; }
        .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part {
          width: 90%; }
          .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part .sub-part--para {
            color: black; }
          .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part .color1 {
            color: #02db96;
            font-size: 3.25rem; }
            .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part .color1 small {
              font-size: 22px; }
          .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part .color2 {
            color: #ffc02a;
            font-size: 3.25rem; }
            .performed_research--part .research--part .left_section .research_sub--part .sub_box .sub_part .color2 small {
              font-size: 22px; }
  .performed_research--part .research--part .right_section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative; }
    .performed_research--part .research--part .right_section .image_sprite1 {
      background: url(../images/css_sprites.png) -219px -10px;
      width: 182px;
      height: 177px;
      position: absolute;
      bottom: 7rem;
      left: -2.4rem;
      z-index: 1; }
    .performed_research--part .research--part .right_section .undp_main {
      background-color: #0edc9b;
      color: white;
      height: 27rem;
      width: 21rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 34px;
      border-radius: 3%; }
    .performed_research--part .research--part .right_section .undp_heading {
      margin: 0; }

@media screen and (max-width: 1280px) {
  .main_color--part {
    height: unset; }

  .smart_route--part .smart_route {
    height: unset; }

  .regular_motivation--part .motivation--part,
  .community_share--part .share--part,
  .profile_moivation--three .moivation--three,
  .profile_moivation--two .moivation--two,
  .profile_moivation--one .moivation--one,
  .user_flow .user_flows--part {
    height: unset; } }
@media screen and (max-width: 991px) {
  p {
    font-size: 1; }

  h2 {
    font-size: 1.8rem; }

  h3 {
    font-size: 1.8rem; }

  .home_automation--part .automation--part {
    height: unset; }
    .home_automation--part .automation--part .left_section .content-head .para1 {
      margin-left: 18px; }
    .home_automation--part .automation--part .left_section .background_img7,
    .home_automation--part .automation--part .left_section .background_img6 {
      display: none; }
    .home_automation--part .automation--part .right_section .background_img5,
    .home_automation--part .automation--part .right_section .background_img3,
    .home_automation--part .automation--part .right_section .background_img2,
    .home_automation--part .automation--part .right_section .background_img4,
    .home_automation--part .automation--part .right_section .background_img7 {
      display: none; }
    .home_automation--part .automation--part .right_section .mobile_image {
      width: 17rem;
      height: 33rem; }
    .home_automation--part .automation--part .right_section .background_img6 {
      right: 0rem; }

  .project_goal .project_goals--part {
    height: unset; }

  .challenge--part .challenges--part {
    height: unset; }

  .performed_research--part .research--part .left_section {
    width: 100%; }
  .performed_research--part .research--part .right_section {
    width: 100%; }
    .performed_research--part .research--part .right_section .image_sprite1 {
      left: 4.6rem; }

  .res {
    margin-bottom: 3rem; }
    .res .research--part {
      min-height: unset;
      height: unset;
      margin-top: 8rem !important; }
      .res .research--part .research--part-section {
        justify-content: space-evenly;
        height: 76%;
        margin-top: 3rem;
        margin-bottom: 3rem; }
        .res .research--part .research--part-section .column-part__one {
          width: 45%; }
          .res .research--part .research--part-section .column-part__one .small_box {
            margin-bottom: 2rem;
            align-items: center; }
            .res .research--part .research--part-section .column-part__one .small_box .desc_para {
              margin-left: 25px; }
        .res .research--part .research--part-section .column-part__two {
          display: none; }
        .res .research--part .research--part-section .column-part__three {
          width: 45%; }
          .res .research--part .research--part-section .column-part__three .small_box {
            margin-bottom: 2rem;
            align-items: center; }
            .res .research--part .research--part-section .column-part__three .small_box .desc_para {
              margin-left: 25px; }

  .user_flow {
    margin-bottom: unset;
    margin-top: 8rem; }
    .user_flow .user_flows--part {
      height: unset; }
      .user_flow .user_flows--part .row-part__one .pickup_flow_part {
        width: 50%;
        align-items: unset; }
      .user_flow .user_flows--part .row-part__one .box-size {
        width: 50%; }
      .user_flow .user_flows--part .row-part__one .flow_part {
        width: 40%;
        position: relative;
        top: 8rem; }
      .user_flow .user_flows--part .row-part__two .flow_part {
        width: 40%;
        position: relative;
        top: 7rem; }
      .user_flow .user_flows--part .row-part__two .flow_part_content {
        width: 40%;
        justify-content: unset;
        align-items: flex-end; }
      .user_flow .user_flows--part .row-part__two .width_second {
        width: 100%; }
      .user_flow .user_flows--part .row-part__three {
        width: 100%;
        margin-top: 7rem;
        margin-left: 0rem; }
        .user_flow .user_flows--part .row-part__three div:nth-child(2) {
          align-items: flex-end; }
        .user_flow .user_flows--part .row-part__three .flow_part {
          width: 50%;
          align-items: unset; }

  .community_share--part .share--part .left_part {
    display: flex;
    justify-content: center;
    width: 100%; }
  .community_share--part .share--part .right_part {
    width: 100%; }
    .community_share--part .share--part .right_part .upper_part {
      margin-bottom: 25px; }
    .community_share--part .share--part .right_part .lower_part {
      left: -1rem; }

  .regular_motivation--part {
    margin-top: 5rem; }
    .regular_motivation--part .motivation--part .left_part {
      width: 100%;
      display: flex;
      justify-content: center; }
    .regular_motivation--part .motivation--part .right_part {
      width: 100%; }

  .smart_route--part .smart_route {
    height: unset; }
    .smart_route--part .smart_route .left_part {
      width: 100%; }
    .smart_route--part .smart_route .right_part {
      width: 100%;
      justify-content: center; }

  .performed_research--part .research--part .left_section {
    width: 100%; }
    .performed_research--part .research--part .left_section .upper_part {
      width: 100%; }
  .performed_research--part .research--part .right_section {
    width: 100%;
    justify-content: unset;
    margin-top: 4rem; }

  .profile_moivation--one .moivation--one .left_part {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem; }
  .profile_moivation--one .moivation--one .right_part {
    width: 100%;
    margin-bottom: 6rem; }
    .profile_moivation--one .moivation--one .right_part .image_two {
      top: -10rem; }

  .profile_moivation--two .moivation--two .left_part {
    width: 100%;
    display: flex;
    justify-content: center; }
    .profile_moivation--two .moivation--two .left_part .image_two {
      display: none; }
    .profile_moivation--two .moivation--two .left_part .image_three {
      display: none; }
  .profile_moivation--two .moivation--two .right_part {
    width: 100%;
    margin-bottom: unset;
    margin-top: -6rem;
    display: flex;
    justify-content: center; }

  .profile_moivation--three .moivation--three .left_part {
    width: 100%; }
  .profile_moivation--three .moivation--three .right_part {
    width: 100%; }

  .user_person {
    margin-top: 4rem; }
    .user_person .user_persona--part .user_persona .persona_sec--part {
      margin-top: 5rem; } }
@media screen and (max-width: 768px) {
  p {
    font-size: 1rem; }

  h2 {
    font-size: 1.5rem; }

  .challenge--part .challenges--part .para1 {
    width: 100%; }
  .challenge--part .challenges--part .background_img4 {
    display: none; }

  .performed_research--part .research--part .left_section .research_sub--part .sub_box {
    width: 78%; }
  .performed_research--part .research--part .left_section .upper_part .background_img3 {
    display: none; }
  .performed_research--part .research--part .right_section .image_sprite1 {
    display: none; }

  .user_person .user_persona--part .persona_heading {
    text-align: center; }
  .user_person .user_persona--part .user_persona {
    justify-content: center; }
    .user_person .user_persona--part .user_persona .persona_sec--part {
      width: 75%; }
      .user_person .user_persona--part .user_persona .persona_sec--part .persona_img {
        left: unset;
        width: 7rem; }

  .profile_moivation--one .moivation--one {
    margin-bottom: 5rem; }
    .profile_moivation--one .moivation--one .right_part .image_one {
      width: 15rem;
      left: -6rem; }
    .profile_moivation--one .moivation--one .right_part .image_two {
      width: 22rem;
      top: -6rem; }

  .profile_moivation--two .moivation--two {
    margin-bottom: -4rem; }
    .profile_moivation--two .moivation--two .left_part .image_one {
      width: 25rem; }
    .profile_moivation--two .moivation--two .left_part .image_two {
      width: 14rem; }
    .profile_moivation--two .moivation--two .left_part .image_three {
      width: 14rem;
      bottom: 24%; }

  .profile_moivation--three .moivation--three .right_part .image_one {
    width: 13rem; }
  .profile_moivation--three .moivation--three .right_part .image_two {
    width: 22rem; }

  .community_share--part .share--part .left_part .share--part-img {
    width: 22rem; }
  .community_share--part .share--part .right_part .lower_part {
    left: 2rem;
    top: -18px; }

  .regular_motivation--part .motivation--part .right_part .phone_image {
    width: 22rem; }
  .regular_motivation--part .motivation--part .right_part .card_image {
    width: 22rem; }

  .smart_route--part .smart_route .left_part .smart_route--image {
    width: 27rem; }
  .smart_route--part .smart_route .left_part .smart_route--image-two {
    width: 14rem; }

  .main_color--part .lower_part {
    margin-bottom: 3rem; }
    .main_color--part .lower_part .color_part {
      margin-bottom: -2rem; } }
@media screen and (max-width: 600px) {
  .home_automation--part .background_img {
    width: 573px;
    height: 503px; }
  .home_automation--part .automation--part {
    height: unset; }
    .home_automation--part .automation--part .left_section {
      width: 100%;
      margin-top: 6rem; }
    .home_automation--part .automation--part .right_section {
      width: 100%; }
      .home_automation--part .automation--part .right_section .background_img6 {
        display: none; }

  .project_goal .project_goals--part .project_goals .project_goals--box {
    width: 50%; }

  .res .research--part {
    height: unset; }
    .res .research--part .research--part-section .column-part__one {
      width: 100%;
      margin-bottom: 1rem; }
      .res .research--part .research--part-section .column-part__one .small_box {
        margin-bottom: 2rem;
        height: 6rem; }
    .res .research--part .research--part-section .column-part__three {
      width: 100%; }
      .res .research--part .research--part-section .column-part__three .small_box {
        margin-bottom: 2rem;
        height: 6rem; }

  .user_flow .user_flows--part .row-part__one .box-size {
    width: 100%; }
  .user_flow .user_flows--part .row-part__one .flow_part {
    position: inherit;
    margin-top: 1rem;
    width: 100%; }
  .user_flow .user_flows--part .row-part__one .pickup_flow_part {
    width: 100%;
    align-items: center;
    margin-top: 6rem; }
  .user_flow .user_flows--part .row-part__two .flow_part {
    width: 100%;
    position: relative;
    top: 5rem;
    align-items: center; }
  .user_flow .user_flows--part .row-part__two .flow_part_content {
    width: 100%;
    align-items: center;
    margin-top: 10rem; }
  .user_flow .user_flows--part .row-part__two .flow_part_content.width_second {
    margin-top: 5rem !important; }
  .user_flow .user_flows--part .row-part__three div:nth-child(2) {
    align-items: center; }
  .user_flow .user_flows--part .row-part__three .flow_part {
    width: 100%;
    align-items: center;
    margin-bottom: 5rem; } }
@media screen and (max-width: 480px) {
  .home_automation--part .background_img {
    display: none; }

  .user_person .user_persona--part .user_persona .persona_sec--part {
    width: 100%; }

  .regular_motivation--part .motivation--part .right_part .card_image {
    width: 17rem; }

  .main_color--part .lower_part {
    display: flex;
    justify-content: center; } }
@media screen and (max-width: 320px) {
  .project_goal .project_goals--part {
    width: 100%; }

  .performed_research--part .research--part .left_section .research_sub--part {
    margin-top: unset; }
    .performed_research--part .research--part .left_section .research_sub--part .sub_box {
      width: 100%; }
    .performed_research--part .research--part .left_section .research_sub--part .sub_part .color1,
    .performed_research--part .research--part .left_section .research_sub--part .color2 {
      line-height: 3rem; }
  .performed_research--part .research--part .right_section .undp_main {
    height: 22rem;
    width: 14rem; }

  .profile_moivation--one .moivation--one .left_part .motivation--content,
  .profile_moivation--two .moivation--two .right_part .motivation--content,
  .profile_moivation--three .moivation--three .left_part .motivation--content,
  .community_share--part
  .share--part
  .right_part
  .upper_part
  .motivation--content,
  .regular_motivation--part .motivation--part .left_part .motivation--content,
  .smart_route--part .smart_route .right_part .pickup_content {
    width: 100%; }

  .profile_moivation--two .moivation--two .left_part .image_one,
  .profile_moivation--one .moivation--one .right_part .image_two,
  .profile_moivation--three .moivation--three .right_part .image_two,
  .community_share--part .share--part .left_part .share--part-img,
  .smart_route--part .smart_route .left_part .smart_route--image {
    width: 18rem; }

  .smart_route--part .smart_route .left_part .smart_route--image-two,
  .regular_motivation--part .motivation--part .right_part .card_image, .regular_motivation--part .motivation--part .right_part .card_image {
    display: none; }

  .main_color--part .lower_part .color_part .color_part--image {
    width: 150px; }

  .regular_motivation--part .motivation--part .right_part .phone_image {
    width: 18rem;
    margin-left: -4rem; }

  .community_share--part .share--part .right_part .lower_part {
    left: unset;
    top: unset; }

  .community_share--part .share--part .left_part .share--part-img,
  .profile_moivation--two .moivation--two .left_part .image_one {
    margin-left: 3rem; }

  .profile_moivation--three .moivation--three .right_part .image_one {
    left: -64px;
    top: 56px; }

  .profile_moivation--one .moivation--one {
    margin-bottom: unset; } }
*,
*::after,
*::before {
  box-sizing: border-box; }

.wrapper {
  overflow: hidden; }

.container {
  max-width: 1280px;
  padding: 0 15px;
  width: 80%;
  margin: 0 auto; }

body {
  font-family: Poppins;
  margin: 0px;
  scroll-behavior: smooth;
  color: #7a807e;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
